*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    background:#f5f7fb;
    font-family:Arial, sans-serif;

}


/* Main Wrapper */

.wrapper{

    display:flex;

}



/* Sidebar */

.sidebar{

    width:260px;

    min-height:100vh;

    background:#111827;

    position:fixed;

    left:0;

    top:0;

}


/* Main Area */

.main{

    margin-left:260px;

    width:calc(100% - 260px);

}



/* Content */

.content{

    padding:25px;

}



/* Dashboard Card */

.card-box{

    border-radius:15px;

    padding:20px;

    color:white;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}


.icon{

    font-size:35px;

}
